@use '../util' as *;

.container {
    padding: 0 rem(25); // 0 pra cima e baixo, 25 pixels pra esquerda e direita
    max-width: rem(1110);
    margin: 0 auto;
    // Esses serão nossos estilos padrão para dispositivos móvies. Nos não queremos o preencimento para a área de trabalho, porque então não vai caber no design e ter 1110 pixels na área de trabalho. Então, vou usar meu ponto de interrupção: ponto de quebra:
    @include breakpoint(large) {
        padding: 0;
    }
}